
<div class="container-fluid">
  <header>

    <h3 class="masthead-brand">S.S.H </h3>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Qui sommes-nous ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </header>
</div>

<div class="mx-auto" style="width: 500px;">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Studely Students Housing.</h1>
    <p class="lead">Bienvenue sur la plateforme de logements étudiants, </p>
    <p class="lead">
    Vous êtes ?
    </p>
  </main></div><br />
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-4">
            <button type="button" class="btn btn-outline-success btn-lg" (click)="onValidStudent()">Etudiant</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-outline-primary btn-lg">Propriétaire</button>
          </div>
        </div>
      </div>
